.conteudo {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.conteudo h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.grupo {
    margin-bottom: 1.2rem;
}

.grupo select{
    width: 100%; 
    padding: 0.75rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem;
}

.grupo label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    color: #555;
}

.grupo input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}


.btn-form {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-align: justify;
    transition: background-color 0.3s;
    display: inline-block;
}


.btn-form-primario {
    background-color: #007bff;
    color: #fff;
}

.btn-form-primario:hover {
    background-color: #0056b3;
}


.btn-form-secundario {
    background-color: #e0e0e0;
    color: #333;
}

.btn-form-secundario:hover {
    background-color: #cacaca;
}



